$headBox-color: #7F7F7F;

.FAQPage{

.headBox{
    background-color: $headBox-color;
    width: 100%;
    height: 300px;
    display: flex;

    h3{
        margin-top: auto;
        margin-bottom: 0px;
        padding-left: 20px;

        color: white;
        font-size: 100px;
        font-weight: 400;
    }
}

#cardbox{
    margin-top: 60px;
}

#card{
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;

    background-color: white;
    color:#002900;
    overflow: hidden;

    summary{
        list-style: none;
        cursor: pointer;
        padding: 20px;
        background-color: rgb(244, 244, 244);

        &::-webkit-details-marker {
        display: none;
        }
    }

    h2{
        margin: 0;
        display: inline;

        white-space: pre-wrap;   
        word-break: break-all;   
        overflow-wrap: break-word;
    }

    p{
        margin: 0;
        padding: 20px;
        border-top: 1px solid #ddd;

        white-space: pre-wrap;   
        word-break: break-all;   
        overflow-wrap: break-word;
    }
}



}